header{
  background-color: white;
  box-shadow: 0px 6px 15px -2px rgba(135, 145, 154, 0.22);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}
.header_flex .header_linklar{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_linklar .login{
  border: 1px solid gray;
  padding: 4px 10px;
}
